{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:render partial="Content/Menu" section="Default" arguments="{_all}" />
    <f:render partial="Area/Intro" section="Default" arguments="{_all}" />
    <f:render section="Default"/>
    <f:render partial="Area/Contact" section="Default" arguments="{_all}" />
    <f:render partial="Area/Footer" section="Default" arguments="{_all}" />
    <f:render partial="Area/FooterBottom" section="Default" arguments="{_all}" />
</div>