/* custom css
 * should become less file later
 *  */


div.csc-textpic-right .csc-textpic-imagewrap,
div.csc-textpic-left .csc-textpic-imagewrap,
div.csc-textpic-center .csc-textpic-center-outer,
div.csc-textpic-center .csc-textpic-center-inner {
    max-width:100%;
}

div.csc-textpic .csc-textpic-imagewrap figure, div.csc-textpic figure.csc-textpic-imagewrap {
    display: block;
}

figcaption.csc-textpic-caption { display: block; }

	


