{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:section name="Default">
        <!-- theme_bootstrap_numo: Partials/Area/Footer.html [begin] -->
        <div class="bg-footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <f:render partial="Socialmedia/List" section="Default" arguments="{_all}" />
                    </div>
                </div>
            </div>
        </div>
        <!-- theme_bootstrap_numo: Partials/Area/Footer.html [end] -->
    </f:section>
</div>