{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:section name="Default">
        <!-- theme_bootstrap_numo: Partials/Area/FooterBottom.html [begin] -->
        <div class="bg-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">2014 &copy; Mamoot Studio - All Rights Reserved</p>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-inline pull-right">
                            <li class="border-right"><a href="#home" data-scroll>Top</a></li>
                            <f:cObject typoscriptObjectPath="lib.menu.footer"/>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- theme_bootstrap_numo: Partials/Area/FooterBottom.html [end] -->
    </f:section>
</div>