{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:section name="Default">
        <!-- theme_bootstrap_numo: Partials/Area/Intro.html [begin] -->
        <div class="bg-intro" id="home">
            <div class="layer-intro">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="text-center">HEY ! <br> I'm John Doe Web and Graphic Designer</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow-down"></div>
        <!-- theme_bootstrap_numo: Partials/Area/Intro.html [end] -->
    </f:section>
</div>

