{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap: Partials/Socialmedia/FollowTwitter.html [begin] -->
		<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useTwitter')}">
			<f:link.external uri="https://twitter.com/{theme:constant(constant:'themes.configuration.socialmedia.twitterUsername')}" target="_blank"><i class="fa fa-twitter"></i></f:link.external>
		</f:if>
		<!-- theme_bootstrap: Partials/Socialmedia/FollowTwitter.html [end] -->
	</f:section>
</div>